@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

button {
  transition: transform 0.3s ease-in-out;
}

a,
a > label,
button {
  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }
}

button {
  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.1);
  }
}
